@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    -ms-touch-action: none;
    touch-action: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: rgb(240, 240, 240);
}

canvas {
    background-color: #222222;
}

.section {
    margin-top: 0;
    padding-top: 0;
    vertical-align: middle;
    .Titre-2 {
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 2px 2px 2px rgba(206, 89, 55, 0);
        color: #df2416;
        text-align: center;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
    }
    .Titre-1 {
        min-height: 100vh;
        .Outline,
        .Inline {
            position: absolute;
            width: 80vw;
            height: 20vh;
            text-align: center;
            font-weight: 1000;
            font-size: 10vw;
            font-family: 'Montserrat', sans-serif;
        }
        .Inline {
            margin-top: calc(30vh + 10vw);
        }
        .Outline {
            margin-left: 50vw;
            margin-top: 30vh;
            color: #222222;
            -webkit-text-stroke: 1px rgb(240, 240, 240);
            -moz-text-stroke: 1px rgb(240, 240, 240);
            -ms-text-stroke: 1px rgb(240, 240, 240);
        }
        width: 100vw;
    }
    .sous-Titre,
    .formation,
    ul,
    p {
        color: rgb(240, 240, 240);
        font-family: 'Montserrat', sans-serif;
    }
    .sous-Titre {
        font-size: 3em;
        margin-left: 10%;
    }
    p,
    ul {
        margin-left: 12%;
        width: 76%;
    }
    .formation {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        background-color: rgb(17, 17, 17);
        margin-left: 25%;
        width: 50%;
        height: 70vh;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.98);
        box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.98);
        border-radius: 25px;
        .formationText {
            height: 33%;
            .dateFormation,
            .IntituleFormation {
                display: inline;
            }
            .dateFormation {
                float: left;
                text-align: center;
                width: 20%;
                margin-left: 5%;
                margin-right: 5%;
                font-size: 2em;
            }
            .IntituleFormation {
                margin-left: 30%;
                width: 70%;
                float: right;
                line-height: 2em;
                align-items: center;
            }
        }
    }
}

#guitarContainer {
    height: 130vh;
    #guitar {
        width: 100%;
        height: 100%;
        display: block;
    }
    .asideGuitar {
        font-family: 'Montserrat', sans-serif;
        position: Absolute;
        margin-left: calc(250px + calc(0.1*calc(100vw - 250px)));
        width: calc(0.8*calc(100vw - 250px));
        margin-top: -80vh;
    }
    #leaveGuitar {
        margin-left: 50vw;
        z-index: 250;
        border: 1px solid red;
        height: 10px;
        width: 100px;
        background-color: red
    }
}

#panels {
    #panels-container {
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 0;
        overflow: hidden;
        .panel {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            text-align: left;
            .panels-navigation {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }
            .anchor-panel,
            .nav-panel {
                text-transform: uppercase;
                margin-right: 2rem;
            }
            .panels-navigation {
                position: absolute;
                width: 100%;
                bottom: 2rem;
                right: 2rem;
            }
        }
    }
}

.Horizontal-card {
    margin-top: 10vh;
    margin-left: 20vw;
    width: 60vw;
    border: 1px solid white;
    background-color: #0C0C0C;
    height: 80vh;
    img {
        margin-left: 55vw;
        margin-top: -5vh;
        max-width: 15vw;
        width: auto;
        height: auto;
        max-height: 25vh;
        position: absolute;
    }
}