doctype html
html(Language="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/index.css")
        link(rel="stylesheet", href="../css/gsap.css")
        //- link(rel="stylesheet", href="../css/spline.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css") 
        title Document
    body(class="")
        div(id="scroll-container")
            div(class="section")
                div(class="Titre-1")
                    div(class="Outline") DELAPORTE
                    div(class="Inline") QUENTIN 

            div(id="guitarContainer")
                div(id="guitar")
                p(class="asideGuitar") Je m'appelle Quentin, j'ai 21 ans et je suis étudiant en Licence CDA ! <br> je suis passioné d'informatique depuis de nombreuses années ! J'ai commencé la programmation en 2014 avec des petites pages web, j'ai tout de suite adoré la logique qui en découle, c'est pour cela que j'en ai fait mon domaine. <br> Durant mon temps libre j'aime jouer de la guitare, bricoller, écouter de la musique...
            div(class="section")
                h2(class="Titre-2") Formations
                div(class="formation")
                    div(class="dateFormation") 2021-2022
                    div(class="IntituleFormation") Licence CDA en alternance, Valarep
                div(class="formation")
                    div(class="dateFormation") 2019-2021 
                    div(class="IntituleFormation") BTS SIO, Lycée dampierre
                div(class="formation")
                    div(class="dateFormation") 2015-2018 
                    div(class="IntituleFormation") BAC STI2D, Lycée du hainaut

            div(class="section")
                h2(class="Titre-2") Expérience
                div(class="Job")
                    div(class="dateJob") Octobre 2021 - Octobre 2022: 
                    div(class="IntituleJob") Alternance chez WOIT-Group (Anciennement Progise)
                    div(class="textJob") Programmation d'un site web de gestion (PHP, JS, HTML, SCSS, AJAX, MSSQL). Developpement sous VB6 de fonctionnalité pour un logiciel de gestion.
                div(class="Job")
                    div(class="dateJob") Mai 2021 - Septembre 2021: 
                    div(class="IntituleJob") Developpeur chez WOIT-Group (Anciennement Progise)
                    div(class="textJob") Programmation d'un site de gestion des temps et des activitées (PHP, JS, HTML, SCSS, AJAX, MSSQL), Programmation d'un site web de gestion (PHP, JS, HTML, SCSS, AJAX, MSSQL). Developpement sous VB6 de fonctionnalité pour un logiciel de gestion. 
                div(class="Job")
                    div(class="dateJob") Fevrier 2021: 
                    div(class="IntituleJob") Stage chez Progise
                    div(class="textJob") Programmation d'un site web de gestion, traitement de données et mise en page. Utilisation des Languageages HTML, CSS, SASS, PHP, JavaScript, SQL (Microsoft SQL server) ainsi que du modele MVC. Programmation d'une application java d'affichage de donnée tiré d'un .json avec mise à jours toutes les minutes.
                div(class="Job")
                    div(class="dateJob") Fevrier 2020 - Avril 2021: 
                    div(class="IntituleJob") Employé polyvalent, Aux délices d'Eric 
                    div(class="textJob") Restauration: Préparation des commandes, nettoyage des locaux, livraison, prise de commandes et encaissement.
                div(class="Job")
                    div(class="dateJob") Juin 2019:
                    div(class="IntituleJob") Employé polyvalent, Mairie de Saint-Amand-Les-Eaux
                    div(class="textJob") Entretien et nettoyage des espaces publiques
                div(class="Job")
                    div(class="dateJob") Juillet 2018: 
                    div(class="IntituleJob") Employé polyvalent, Mairie de Saint-Amand-Les-Eaux
                    div(class="textJob") Préparation de plat pour les centres aérés, Nettoyage des locaux
            //- div(id='container')
            //-     canvas(id="canvas3d")
        div(class="section" id="sectionHorizontal")
                h2(class="Titre-2") Compétences
                section(id="panels")
                    div(id="panels-container" style="width: 700%;")
                        article(id="panel-1" class="panel full-screen red")
                            div(class="container")
                                div(class="row")
                                    div(class="col-6")
                                        img(src="" alt="")
                                    div(class="col-6 d-flex flex-column")
                                        div(class="Horizontal-card")
                                            img(src="../images/html.png") 
                                            h4(class="sous-Titre" id="Language-HTML") HTML
                                            p Bonne connaissance de HTML et de pug
                                 
                        article(id="panel-2" class="panel full-screen red")
                            div(class="container")
                                div(class="row")
                                    div(class="col-6")
                                        img(src="" alt="")
                                    div(class="col-6 d-flex flex-column")
                                        div(class="Horizontal-card")
                                            img(src="../images/css.png")
                                            h4(class="sous-Titre" id="Language-CSS") CSS 
                                            p Bonne connaissance de CSS et de SCSS, Initiation à TailWindCSS 
                          
                        article(id="panel-3" class="panel full-screen red")
                            div(class="container")
                                div(class="row")
                                    div(class="col-6")
                                        img(src="" alt="")
                                    div(class="col-6 d-flex flex-column")
                                        div(class="Horizontal-card")
                                            img(src="../images/js.png")
                                            h4(class="sous-Titre" id="Language-JS") JavaScript
                                            p Intermediaire, bonne connaissance de vanilla js, Jquerry et de AJAX, Initiation à TypeScript, initiation a Three.js, GSAP, Locomotive-scroll, ScrollMagic, AOS et Chart.js
 
                        article(id="panel-4" class="panel full-screen red")
                            div(class="container")
                                div(class="row")
                                    div(class="col-6")
                                        img(src="" alt="")
                                    div(class="col-6 d-flex flex-column")
                                        div(class="Horizontal-card")
                                            img(src="../images/php.png")
                                            h4(class="sous-Titre" id="Language-PHP") PHP 
                                            p  Connaissances approfondi du Language, bonnes connaissances du framework symfony.

                        article(id="panel-5" class="panel full-screen red")
                            div(class="container")
                                div(class="row")
                                    div(class="col-6")
                                        img(src="" alt="")
                                    div(class="col-6 d-flex flex-column")
                                        div(class="Horizontal-card")
                                            img(src="../images/java.png")
                                            h4(class="sous-Titre") JAVA
                                            p Bonne connaissance du JAVA

                        article(id="panel-6" class="panel full-screen red")
                            div(class="container")
                                div(class="row")
                                    div(class="col-6")
                                        img(src="" alt="")
                                    div(class="col-6 d-flex flex-column")
                                        div(class="Horizontal-card")
                                            img(src="../images/kt.png")
                                            h4(class="sous-Titre") Kotlin
                                            p Initiation en autodidacte

                        article(id="panel-7" class="panel full-screen red")
                            div(class="container")
                                div(class="row")
                                    div(class="col-6")
                                        img(src="" alt="")
                                    div(class="col-6 d-flex flex-column")
                                        div(class="Horizontal-card")
                                            img(src="../images/vb.png")
                                            h4(class="sous-Titre") Visual Basic 6
                                            p Débutant

        //- script(src="https://unpkg.com/three@^0.131.0/build/three.min.js")
        //- script(src="../js/runtime.js")
        //- script(type="module" src="../js/spline.js")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js")
        //-! Dont use cdn : Bug smooth-scroll
        script(src="../js/nice-scroll.js")
        script(type="module", src="../js/Horizontal-scroll.js")
        script(type="module" src="../js/guitar.js")